@import "theme";

.sidebar {
  width: 7rem;
  background: $dark-3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__element {
    padding-top: 2.5rem;

    &__icon {
      color: $white-blue;
    }

    &:last-child {
      padding-bottom: 2.5rem;
    }
  }
}
