<div class="sidebar">
  <div class="sidebar__element">
    <button app-button buttonType="neo">
      <fa-icon [icon]="faBox" class="sidebar__element__icon"></fa-icon>
    </button>
  </div>
  <div class="sidebar__element">
    <button app-button buttonType="neo">
      <fa-icon [icon]="faTools" class="sidebar__element__icon"></fa-icon>
    </button>
  </div>
  <div class="sidebar__element">
    <button app-button buttonType="neo">
      <fa-icon [icon]="faUserClock" class="sidebar__element__icon"></fa-icon>
    </button>
  </div>
  <div class="sidebar__element">
    <button app-button buttonType="neo">
      <fa-icon [icon]="faUsers" class="sidebar__element__icon"></fa-icon>
    </button>
  </div>
  <div class="sidebar__element">
    <button app-button buttonType="neo">
      <fa-icon [icon]="faFileInvoice" class="sidebar__element__icon"></fa-icon>
    </button>
  </div>
</div>
