<div class="sidebar">
  <div class="sidebar__element">
    <a routerLink="/dashboard" app-button buttonType="neo">
      <fa-icon [icon]="faBox" class="sidebar__element__icon"></fa-icon>
    </a>
  </div>
  <div class="sidebar__element">
    <a routerLink="/config" app-button buttonType="neo">
      <fa-icon [icon]="faTools" class="sidebar__element__icon"></fa-icon>
    </a>
  </div>
  <div class="sidebar__element">
    <a routerLink="/timelog" app-button buttonType="neo">
      <fa-icon [icon]="faUserClock" class="sidebar__element__icon"></fa-icon>
    </a>
  </div>
  <div class="sidebar__element">
    <a routerLink="/users" app-button buttonType="neo">
      <fa-icon [icon]="faUsers" class="sidebar__element__icon"></fa-icon>
    </a>
  </div>
  <div class="sidebar__element">
    <a routerLink="/reports" app-button buttonType="neo">
      <fa-icon [icon]="faFileInvoice" class="sidebar__element__icon"></fa-icon>
    </a>
  </div>
</div>
