// Primary Colors
$dark: #2c2f33;
$dark-2: #23272a;
$dark-3: #353a40;
$gray: #99aab5;
$light-gray: #f6f6f6;
$blue: #7289da;
$white-blue: #b4c4ff;
$white: #ffffff;

// Accent Colors for shadows, etc.
$dark-2-dark-accent: #42454b;
$dark-2-light-accent: #131416;
