name: AWS_Pipeline_API

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      AWS_ROLE_TO_ASSUME:
        required: true
      AWS_REGION:
        required: true
    inputs:
      hash_or_version:
        description: "The hash or version to use for the image"
        required: true
        type: string

jobs:
  changes:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: read
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - 'apps/api/**'
              - 'apps/org-manager/**'
              - 'infrastructure/**'
  deploy_ecr_stack:
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    uses: ./.github/workflows/aws_deploy.yml
    with:
      desired_stack: HourTrackerImageRepositories

  build_images:
    needs:
      - deploy_ecr_stack
      - changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    uses: ./.github/workflows/aws_ecr_build.yml
    with:
      hash_or_version: ${{ inputs.hash_or_version }}

  deploy_organization_manager_stack:
    needs:
      - build_images
      - changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    uses: ./.github/workflows/aws_deploy.yml
    with:
      desired_stack: HourTrackerOrganizationManager
      parameter_hash_or_version: "--parameters hashOrVersion=${{ inputs.hash_or_version }}"

  deploy_api_stack:
    needs:
      - build_images
      - changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    uses: ./.github/workflows/aws_deploy.yml
    with:
      desired_stack: HourTrackerApi
      parameter_hash_or_version: "--parameters hashOrVersion=${{ inputs.hash_or_version }}"
