name: AWS_Destroy_Stack

on:
  workflow_dispatch:
    inputs:
      desired_stack:
        description: "The name of the stack that should be destroyed"
        required: true
        type: choice
        options:
          - HourTrackerApi
          - HourTrackerImageRepositories
  workflow_call:
    secrets:
      AWS_ROLE_TO_ASSUME:
        required: true
    inputs:
      desired_stack:
        description: "The name of the stack that should be destroyed"
        required: true
        type: string

jobs:
  destroy_aws_resource:
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: "yarn"

      - name: Configure AWS Credentials For GitHub Actions
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          mask-aws-account-id: true

      - name: Install CDK Workspace Dependencies
        run: yarn workspaces focus infrastructure

      - name: "Destroying CDK Stack: ${{ inputs.desired_stack }}"
        working-directory: ./infrastructure
        run: yarn cdk destroy ${{ inputs.desired_stack }} --force
