name: AWS_ECR_Build_Images

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      AWS_ROLE_TO_ASSUME:
        required: true
      AWS_REGION:
        required: true
    inputs:
      hash_or_version:
        description: "The hash or version to use for the image"
        required: true
        type: string

jobs:
  changes:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: read
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          filters: |
            src:
              - 'apps/api/**'
              - 'infrastructure/**'

  build-images:
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        include:
          - repository: hour-tracker-api-authorizer
            dockerfile: apps/api/authorizer/Dockerfile
            platform: linux/arm64
          - repository: hour-tracker-members-service
            dockerfile: apps/api/members/Dockerfile
            platform: linux/arm64
          - repository: hour-tracker-activity-types-service
            dockerfile: apps/api/activity-types/Dockerfile
            platform: linux/arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Configure AWS Credentials For GitHub Actions
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          mask-aws-account-id: true

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2.0.1
        with:
          mask-password: "true"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Build, tag, and push docker images to ECR
        uses: docker/build-push-action@v6.18.0
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          provenance: false
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ matrix.repository }}:${{ inputs.hash_or_version }}
          cache-from: type=gha,scope=build-${{ matrix.repository }}
          cache-to: type=gha,mode=max,scope=build-${{ matrix.repository }}
