name: CI_Pipeline

on:
  push:
    branches-ignore:
      - master

jobs:
  run_tests:
    uses: ./.github/workflows/ci_tests.yml

  reset_neon_testing_branch:
    needs: run_tests
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Reset Neon Testing branch to parent
        uses: neondatabase/reset-branch-action@v1.3.1
        with:
          project_id: still-band-45679539
          parent: true
          branch: testing
          api_key: ${{ secrets.NEON_API_KEY }}

  build_migrator_and_apply_pending_migrations:
    needs: run_tests
    secrets:
      DB_BRANCH: ${{ secrets.NEON_DB_BRANCH_TESTING }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    uses: ./.github/workflows/db_migrator.yml
    with:
      hash_or_version: ${{ github.sha }}

  run_aws_api_pipeline:
    needs: run_tests
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_DEV_TESTING_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    uses: ./.github/workflows/aws_pipeline_api.yml
    with:
      hash_or_version: ${{ github.sha }}
