name: CI_Testing_Pipeline

on:
  workflow_dispatch:
  workflow_call:

jobs:
  run_linter:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Run linting
        run: yarn lint

      - name: Run stylelint
        run: yarn stylelint

  run_integration_tests:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        include:
          - module: "@hour-tracker/db-migrator"
            dependencyCommand: yarn install
            testCommand: yarn turbo:test:db-migrator
            with_db: true
            requires_migration: false
          - module: "@hour-tracker/api-authorizer"
            dependencyCommand: yarn install
            testCommand: yarn turbo:test:api-authorizer
            with_db: true
            requires_migration: true
          - module: "@hour-tracker/api-members"
            dependencyCommand: yarn install
            testCommand: yarn turbo:test:api-members
            with_db: true
            requires_migration: true
          - module: "@hour-tracker/api-activity-types"
            dependencyCommand: yarn install
            testCommand: yarn turbo:test:activity-types
            with_db: true
            requires_migration: true
          - module: "@hour-tracker/organization-manager"
            dependencyCommand: yarn install
            testCommand: yarn turbo:test:org-manager
            with_db: true
            requires_migration: true
          - module: "hour-tracker-frontend"
            dependencyCommand: yarn install
            testCommand: yarn turbo:test:frontend
            with_db: false
            requires_migration: false
          - module: "infrastructure"
            dependencyCommand: yarn workspaces focus infrastructure
            testCommand: yarn workspace infrastructure test
            with_db: false
            requires_migration: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start postgres container for testing ${{ matrix.module }}
        if: ${{ matrix.with_db == true }}
        run: |
          docker compose -f compose.ci.yml up -d postgres_tests
          echo ---postgres container is running---

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: "yarn"

      - name: Apply migrations for tests ${{ matrix.module }}
        if: ${{ matrix.requires_migration == true }}
        run: |
          yarn workspaces focus @hour-tracker/db-migrator
          yarn workspace @hour-tracker/db-migrator db:migration:test:migrate

      - name: Install ${{ matrix.module }} dependencies
        run: ${{ matrix.dependencyCommand }}

      - name: Run tests for ${{ matrix.module }}
        run: ${{ matrix.testCommand }}
