name: Database_Migrator

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      DB_BRANCH:
        required: true
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_ACCESS_TOKEN:
        required: true
    inputs:
      hash_or_version:
        description: "The hash or version to use for the image"
        required: true
        type: string

jobs:
  changes:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: read
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          filters: |
            src:
              - 'apps/db-migrator/**'
              - 'packages/db/**'

  build_image:
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Build, tag, and push docker image to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: apps/db-migrator/Dockerfile
          push: true
          tags: flsoller/hour-tracker-migration-runner:${{ inputs.hash_or_version }}
          cache-from: type=gha,scope=build-flsoller/hour-tracker-migration-runner
          cache-to: type=gha,mode=max,scope=build-flsoller/hour-tracker-migration-runner

  run_migrator:
    needs:
      - build_image
      - changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Start migration container
        run: |
          touch .env
          echo TAG=${{ inputs.hash_or_version }} >> .env
          echo DATABASE_URL=${{ secrets.DB_BRANCH }} >> .env
          docker compose -f compose.ci.yml --env-file .env up -d postgres_migrator
          echo ---migration container is running---
      - name: Run migration
        run: |
          docker compose -f compose.ci.yml exec -T postgres_migrator yarn migrator:db:migrate
