name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  # Create changelog and tag a release
  create-release:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.changelog.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v6.2.0
        with:
          github-token: ${{ secrets.github_token }}
          output-file: "false"
          skip-commit: "true"
          preset: "conventionalcommits"

      - name: Create Release
        uses: softprops/action-gh-release@v2.5.0
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}

  build_migrator_and_apply_pending_migrations:
    needs: create-release
    secrets:
      DB_BRANCH: ${{ secrets.NEON_DB_PRODUCTION }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    uses: ./.github/workflows/db_migrator.yml
    with:
      hash_or_version: ${{ needs.create-release.outputs.release_version }}

  run_aws_api_pipeline:
    needs:
      - create-release
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_PRODUCTION_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    uses: ./.github/workflows/aws_pipeline_api.yml
    with:
      hash_or_version: ${{ needs.create-release.outputs.release_version }}
